:root {
  --main-color: #fff;
  --accent-color: #9b0000;
  --sub-color: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: var(--main-color);
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: flex;
}

nav ul li a {
  color: var(--main-color);
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

nav ul li a:hover {
  text-decoration: underline;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form p {
  text-align: center;
  width: 100%;
  margin: 0.5rem 0;
}

form p input {
  padding: 12px;
  margin: 5px 0;
  width: 30%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

form p input:focus {
  border-color: #007bff;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.2);
}

form p label {
  margin-right: 15px;
  font-weight: bold;
  color: #333;
}

form p input:hover {
  border-color: #007bff;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.1);
}

form p span {
  display: block; /* Forces the content to start on a new line */
  margin: 0;
}

form ul {
  width: 100%;
  margin: 0;
  text-align: left;
  text-align: center;
}

form ul li {
  list-style: none;
  font-size: small;
}

.header h1 {
  font-size: 24px;
  margin: 0;
}

.header .logo img {
  height: 50px;
  margin-right: 10px;
}

.header .logo {
  display: flex;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin: 2rem 0;
}

.home {
  height: 80vh;
  place-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 5rem;
}

.public_home_img img {
  width: 90%;
}

.private_home_img img {
  width: 100%;
}

.home_content {
  text-align: center;
}

.home_btn {
  background-color: var(--accent-color);
  color: var(--main-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  margin: 20px 10px;
}

.floating_btn {
  background-color: var(--accent-color);
  color: var(--main-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  margin: 20px 10px;
  position: fixed;
  z-index: 9999;
  right: 2rem;
  bottom: 2rem;
  text-decoration: none;
}

.floating_btn.logout {
  top: 5rem;
  bottom: auto;
  padding: 13px 14px;
}

.floating_btn.share {
  bottom: 6rem;
  padding: 13px 14px;
}

.public_home_title {
  font-size: 4.5rem;
  font-weight: bold;
}

.public_home_subtitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.private_home_title {
  font-size: 4rem;
  font-weight: bold;
}

.recipies {
  margin-top: 1rem;
  display: grid;
  /*grid-template-columns: auto auto auto;*/
  /*justify-content: space-evenly;*/
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.recipe_item {
  display: grid;
  border: 2px solid;
  border-color: black;
  margin: 0.5rem 1rem;
  justify-content: center;
  text-align: center;
}

.recipe_item_name {
  width: 100%;
  padding: 0.3rem;
  font-size: 1.2rem;
  font-weight: bold;
  overflow-wrap: break-word;
}

.recipe_item_img {
  width: 100%;
  margin: 0;
  border-top: black 1px solid;
  border-bottom: black 1px solid;
}

.recipe_details {
  text-align: center;
}

.recipe_details_img {
  margin: 1rem 0;
  width: 35%;
  border: 2px solid;
}

.recipe_details_title {
  font-size: 20px;
  font-weight: bold;
}

.recipe_details_ingredients {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.recipe_details_ingredients > li {
  display: flex;
  align-items: center;
}

.recipe_details_ingredients > li > p {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.3rem 0;
}

.recipe_details_ingredients > li > a {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 0.5rem;
}

.category_name {
  text-align: center;
  font-weight: bold;
  margin-top: 1.5rem;
}

.personal_name {
  text-align: center;
}

.personal_recipe_name {
  text-align: center;
  margin-bottom: 1rem;
}

.personal_recipe {
  margin: 1.5rem 0;
  display: flex;
}

.personal_ingredients_name {
  text-align: center;
  margin-top: 3rem;
}

.personal_ingredients {
  margin: 0;
  text-align: center;
}

.personal_page_text {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.personal_page_non_exist_img {
  display: block;
  margin: 0 auto;
  width: 30rem;
}