{% extends 'base.html' %}
{% load home_extras %}
{% load static %}

{% block title %}
Personal
{% endblock %}

{% block content %}
<h2 class="personal_page_text">Welcome {{ user.first_name }}</h2>

{% if exists %}
  <a class="floating_btn" href="{% url 'home:clear_personal' %}">Clear</a>
  <a class="floating_btn share" href="{% url 'home:share' %}?items={{item_list}}" onclick="copyText()" target="_blank">Share</a>

  <h2 class="personal_recipe_name">Recipes</h2>
  <div class="recipies">
    {% for index, recipe in recipes|doEnumerate %}
      <div class="recipe_item"><p class="recipe_item_name">Day {{index|add:1}}: <br><a href="{{recipe.link}}"><p class="recipe_item_name">{{recipe.recipeName}}</p></a><img class="recipe_item_img" src="{{recipe.img}}?interpolation=lanczos-none&fit=around|320:320&crop=320:320;*,*"></p></div>
    {% endfor %}
  </div>
  <div>
    <h2 class="personal_ingredients_name">Ingredients</h2>
    <ul class="recipe_details_ingredients">
    {% for ingredient in ingredients %}
      {% if ingredient != '' %}
      <li class="recipe_details_ingredient">
      <p>{{ ingredient }} </p>
      <a class="recipe_details_link" href="{% url 'external:rakuten_ichiba_item_search' %}?grocery_name={{ ingredient }}" target="_blank">
        Buy at Rakuten Ichiba
      </a>
      </li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>
{% else %}
  <div class="home_content">
    <p class="personal_page_text">Explore the weekly recipes!</p>
    <img class="personal_page_non_exist_img" src="{% static 'img/veggies.png' %}" alt="veggies" />
    <button class="home_btn" onclick='location.href="/home/recipes/";'>Start</button>
  </div>
{% endif %}

<form method="post" action="{% url 'accounts:logout' %}"> {% csrf_token %}
  <input class="floating_btn logout" type="submit" value="Logout">
</form>
{% endblock %}

{% block scripts %}
<script>
  function copyText() {
    navigator.clipboard.writeText(document.getElementsByClassName("floating_btn share")[0].href);
  }
</script>
{% endblock %}
