{% extends 'base.html' %}
{% load home_extras %}

{% block title %}
Personal
{% endblock %}

{% block content %}
<h2 class="personal_name">Welcome {{ user.first_name }}</h2>

<a class="floating_btn" href="{% url 'home:clear_personal' %}">Clear</a>
<a class="floating_btn share" href="{% url 'home:share' %}?items={{item_list}}">share</a>

{% if exists %}
  <h2 class="personal_recipe_name">Recipes</h2>
  <div class="recipies">
    {% for index, recipe in recipes|doEnumerate %}
      <div class="recipe_item"><p>Day {{index|add:1}}: <br><a href="{{recipe.link}}"><p class="recipe_item_name">{{recipe.recipeName}}</p></a><img class="recipe_item_img" src="{{recipe.img}}?interpolation=lanczos-none&fit=around|320:320&crop=320:320;*,*"></p></div>
    {% endfor %}
  </div>
  <div>
    <h2 class="personal_ingredients_name">Ingredients</h2>
    {% for ingredient in ingredients %}
      <p class="personal_ingredients">
        <a class="recipe_details_link" href="{% url 'external:rakuten_ichiba_item_search' %}?grocery_name={{ ingredient }}" target="_blank">
          {{ingredient}}
        </a>
      </p>
    {% endfor %}
  </div>
{% else %}
  <p>Explore the weekly recipes!</p>
{% endif %}

<form method="post" action="{% url 'accounts:logout' %}"> {% csrf_token %}
  <input class="floating_btn logout" type="submit" value="Logout">
</form>
{% endblock %}
